@font-face {
    font-family: 'VK Sans Display';
    src: url('VKSansDisplay-Regular.woff2') format('woff2'),
        url('VKSansDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VK Sans Display';
    src: url('VKSansDisplay-Regular.woff2') format('woff2'),
        url('VKSansDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VK Sans Display';
    src: url('VKSansDisplay-Regular.woff2') format('woff2'),
        url('VKSansDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VK Sans Display';
    src: url('VKSansDisplay-Regular.woff2') format('woff2'),
        url('VKSansDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

